@page "/button"

<h3>ButtonComponent</h3>

<hr />
<div>
    <Button Type="ButtonType.Primary">Primary</Button>
    <Button Type="ButtonType.Secondary">Secondary</Button>
    <Button Type="ButtonType.Dashed">Dashed</Button>
    <Button Type="ButtonType.Outline">Outline</Button>
    <Button Type="ButtonType.Text">文本了</Button>
</div>

<hr />
<div>
    <Button Type="ButtonType.Primary">
        <Icon>
            <IconPlus />
        </Icon>
    </Button>

    <Button Type="ButtonType.Primary">
        <Icon>
            <IconDelete />
        </Icon>
        <ChildContent>
            Delete
        </ChildContent>
    </Button>
</div>

<hr />
<div>
    <Button Type="ButtonType.Primary">
        <Icon>
            <IconPlus />
        </Icon>
    </Button>

    <Button Shape="ButtonShape.Circle" Type="ButtonType.Primary">
        <Icon>
            <IconPlus />
        </Icon>
    </Button>

    <Button Shape="ButtonShape.Round" Type="ButtonType.Primary">
        Primary
    </Button>

    <Button Shape="ButtonShape.Square" Type="ButtonType.Primary">
        Primary
    </Button>
    <Button Type="ButtonType.Primary">
        Primary
    </Button>
</div>

<hr />
<div>
    <Button Type="ButtonType.Primary" Size="Infra.Size.Mini" >
        Mini
    </Button>
    <Button Type="ButtonType.Primary" Size="Infra.Size.Small">
        Small
    </Button>
    <Button Type="ButtonType.Primary" Size="Infra.Size.Default">
        Default
    </Button>
    <Button Type="ButtonType.Primary" Size="Infra.Size.Large">
        Large
    </Button>
</div>


<hr />
<div>
    <div>
        <Button Type="ButtonType.Primary" Status="ButtonStatus.Warning">
            Warning
        </Button>
        <Button Status="ButtonStatus.Warning">
            Warning
        </Button>
        <Button Type="ButtonType.Outline" Status="ButtonStatus.Warning">
            Warning
        </Button>
        <Button Type="ButtonType.Text" Status="ButtonStatus.Warning">
            Warning
        </Button>
    </div>
    <div>
        <Button Type="ButtonType.Primary" Status="ButtonStatus.Danger">
            Danger
        </Button>
        <Button Status="ButtonStatus.Danger">
            Danger
        </Button>
        <Button Type="ButtonType.Outline" Status="ButtonStatus.Danger">
            Danger
        </Button>
        <Button Type="ButtonType.Text" Status="ButtonStatus.Danger">
            Danger
        </Button>
    </div>
    <div>
        <Button Type="ButtonType.Primary" Status="ButtonStatus.Success">
            Success
        </Button>
        <Button Status="ButtonStatus.Success">
            Success
        </Button>
        <Button Type="ButtonType.Outline" Status="ButtonStatus.Success">
            Success
        </Button>
        <Button Type="ButtonType.Text" Status="ButtonStatus.Success">
            Success
        </Button>
    </div>
</div>


<hr />
<div>
    <div>
        <Button Type="ButtonType.Primary" Disabled >
            Warning
        </Button>
        <Button Disabled Type="ButtonType.Secondary">
            Warning
        </Button>
        <Button Type="ButtonType.Outline" Disabled>
            Warning
        </Button>
        <Button Type="ButtonType.Dashed" Disabled>
            Warning
        </Button>
    </div>
    <div>
        <Button Type="ButtonType.Primary" Status="ButtonStatus.Warning" Disabled>
            Warning
        </Button>
        <Button Type="ButtonType.Secondary"  Status="ButtonStatus.Warning" Disabled>
            Warning
        </Button>
        <Button Type="ButtonType.Outline" Status="ButtonStatus.Warning" Disabled>
            Warning
        </Button>
        <Button Type="ButtonType.Dashed" Status="ButtonStatus.Warning" Disabled>
            Warning
        </Button>
    </div>
    <div>
        <Button Type="ButtonType.Primary" Status="ButtonStatus.Danger" Disabled>
            Danger
        </Button>
        <Button Status="ButtonStatus.Danger" Type="ButtonType.Secondary" Disabled>
            Danger
        </Button>
        <Button Type="ButtonType.Outline" Status="ButtonStatus.Danger" Disabled>
            Danger
        </Button>
        <Button Type="ButtonType.Dashed" Status="ButtonStatus.Danger" Disabled>
            Danger
        </Button>
    </div>
    <div>
        <Button Type="ButtonType.Primary" Status="ButtonStatus.Success" Disabled>
            Success
        </Button>
        <Button Status="ButtonStatus.Success" Type="ButtonType.Secondary" Disabled>
            Success
        </Button>
        <Button Type="ButtonType.Outline" Status="ButtonStatus.Success" Disabled>
            Success
        </Button>
        <Button Type="ButtonType.Dashed" Status="ButtonStatus.Success" Disabled>
            Success
        </Button>
    </div>
</div>

<hr />
<div>
    <Button Type='ButtonType.Primary' Loading>
        Loading
    </Button>
</div>

<hr />
<div>
    <ButtonGroup>
        <Button>Publish</Button>
        <Button>
            <Icon>
                <IconDown />
            </Icon>
        </Button>
    </ButtonGroup>
    <ButtonGroup>
        <Button Type="ButtonType.Secondary" >Publish</Button>
        <Button Type="ButtonType.Secondary">
            <Icon>
                <IconMore />
            </Icon>
        </Button>
    </ButtonGroup>
    <ButtonGroup>
        <Button Type="ButtonType.Primary">Publish</Button>
        <Button Type="ButtonType.Primary">
            <Icon>
                <IconMore />
            </Icon>
        </Button>
    </ButtonGroup>
    <ButtonGroup>
        <Button Type="ButtonType.Primary" Shape="ButtonShape.Round" Style="@(new { padding ="0 8px"})">
            <Icon>
                <IconLeft />
            </Icon>
            <ChildContent>
                Prev
            </ChildContent>
        </Button>
        <Button Type="ButtonType.Primary" Shape="ButtonShape.Round" Style="@(new { padding ="0 8px"})">
            <ChildContent>
                Next
            </ChildContent>
            <Icon>
                <IconRight />
            </Icon>
        </Button>
    </ButtonGroup>
    <ButtonGroup>
        <Button Type="ButtonType.Primary">
            <Icon>
                <IconStar />
            </Icon>
        </Button>
        <Button Type="ButtonType.Primary">
            <Icon>
                <IconMessage />
            </Icon>
        </Button>
        <Button Type="ButtonType.Primary">
            <Icon>
                <IconSettings />
            </Icon>
        </Button>
    </ButtonGroup>
    <ButtonGroup>
        <Button Type="ButtonType.Primary">
            <Icon>
                <IconStar />
            </Icon>
            <ChildContent>
                Favorite
            </ChildContent>
        </Button>
        <Button Type="ButtonType.Primary">
            <Icon>
                <IconSettings />
            </Icon>
            <ChildContent>
                Setting
            </ChildContent>
        </Button>
    </ButtonGroup>
</div>
<br />
<div>
    <div class="arco-btn-group"><button class="arco-btn arco-btn-secondary arco-btn-size-default arco-btn-shape-square" type="button"><span>Publish</span></button><button class="arco-btn arco-btn-secondary arco-btn-size-default arco-btn-shape-square arco-btn-icon-only" type="button"><svg fill="none" stroke="currentColor" stroke-width="4" viewBox="0 0 48 48" aria-hidden="true" focusable="false" class="arco-icon arco-icon-down"><path d="M39.6 17.443 24.043 33 8.487 17.443"></path></svg></button>
    </div>
</div>

<br />
<div>
    <div class="arco-btn-group"><button class="arco-btn arco-btn-secondary arco-btn-size-default arco-btn-shape-square " type="button">Publish</button><button class="arco-btn arco-btn-secondary arco-btn-size-default arco-btn-shape-square arco-btn-icon-only " type="button"><svg class=" arco-icon arco-icon-down" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="currentColor" stroke-width="4"><path d="M39.5996 17.4434L24.0433 32.9997C24.0433 32.9997 13.1813 22.1378 8.48691 17.4434" stroke-linecap="butt"></path></svg></button></div>
</div>

@code {

}
