@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<IconAlignLeft />
<IconApps />
<IconFaceSmileFill />
<IconFacebook />

@*<Button>
    <span>
        hello
    </span>
</Button>*@

@*<Button>
    <IconAlignCenter />
</Button>*@

<div>
    <Button Type="ButtonType.Primary">Primary</Button>
    <Button Type="ButtonType.Secondary">Secondary</Button>
    <Button Type="ButtonType.Dashed">Dashed</Button>
    <Button Type="ButtonType.Outline">Outline</Button>
    <Button Type="ButtonType.Text">文本了</Button>
</div>


<button class="arco-btn arco-btn-secondary arco-btn-size-default">hellower</button>




