@namespace ArcoDesign.Components
@using ArcoDesign.Core;
@inherits ArcoDesignComponentBase

<div class="@classNames" style="@styles">@ChildContent</div>

@code {
    private readonly string perfixCls = "arco-btn-group";

    [Parameter]
    public RenderFragment ChildContent { get; set; }


    protected override void SetComponentCss(ClassNameBuilder classNameBuilder, StyleBuilder styleBuilder, AttributeBuilder attributeBuilder)
    {
        classNameBuilder.Add(perfixCls);
        base.SetComponentCss(classNameBuilder, styleBuilder, attributeBuilder);
    }
}
