@namespace ArcoDesign.Components
@inherits ArcoDesignComponentBase

<h3>AvatarGroup</h3>

@code {
    [Parameter]
    public AvatarShape Shape { get; set; }
    [Parameter]
    public int Size { get; set; }
    [Parameter]
    public int MaxCount { get; set; }
    [Parameter]
    public string MaxStyle { get; set; }
    [Parameter]
    public bool AutoFixFontSize { get; set; }
    [Parameter]
    public bool ZIndexAscend { get; set; }
    // TODO: TriggerProps
}
