@namespace ArcoDesign.Components
@using ArcoDesign.Core;
@using ArcoDesign.Shared;
@using System.ComponentModel.DataAnnotations;
@inherits ArcoDesignComponentBase

<div style="@styles" class="@classNames">
    @ChildContent
</div>