@namespace ArcoDesign.Components
@using ArcoDesign.Shared;
@inherits ArcoDesignComponentBase


<CascadingValue IsFixed="true" Value="this">
    <div class="@classNames" style="@styles">
        @ChildContent
    </div>
</CascadingValue>

