@namespace ArcoDesign.Components
@using ArcoDesign.Shared
@inherits ArcoDesignComponentBase

@if(Parent.ShouldRenderSplit && index > 0)
{
    <div class="arco-space-item-split">
        @Parent.Split
    </div>
}

<div class="@classNames" style="@Parent.GetMarginStyle(index)">
    @ChildContent
</div>

@code {
    private readonly string prefixCls = "arco-space-item";

    private int index = 0;

    [Parameter]
    public RenderFragment ChildContent { get;set; }


    [CascadingParameter]
    internal Space Parent { get; set; }

    protected override void OnParametersSet()
    {
        index = Parent.ItemsCount;
        Parent.ItemsCount += 1;
        base.OnParametersSet();
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

}
