@namespace ArcoDesign.Components
@using ArcoDesign.Shared
@inherits ArcoDesignComponentBase

<CascadingValue Value="this" IsFixed="@true">
    <div class="@classNames" style="@styles">
        @ChildContent
    </div>
</CascadingValue>