@namespace ArcoDesign.Components

<div class="arco-space-item" style="@Parent.GetMarginStyle(index)">
    @ChildContent
</div>


@code {
    private readonly string prefixCls = "arco-space-item";
    private int index = 0;
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [CascadingParameter]
    public Space Parent { get; set; }
    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    protected override void OnParametersSet()
    {
        index = Parent.ItemsCount;
        Parent.ItemsCount += 1;
        base.OnParametersSet();
    }
}

