<h3>ReponsiveLayout</h3>
<Row>
    <Col XS="2" SM="4" MD="6" LG="8" XL="10" XXL="8" Style="@(new {
        Height = "48px",
        BackgroundColor="#6aa1ff",
        TextAlign="center",
    })">
        col
    </Col>
    <Col XS="20" SM="16" MD="12" LG="8" XL="4" XXL="8" Style="@(new {
        BackgroundColor="#2d6dff",
        Height = "48px",
        TextAlign="center",
    })">
        col
    </Col>
    <Col XS="2" SM="4" MD="6" LG="8" XL="10" XXL="8" Style="@(new {
        Height = "48px",
        TextAlign="center",
        BackgroundColor="#6aa1ff"
    })">
        col
    </Col>
</Row>