@page "/divider"
<h3>DividerComponent</h3>

<Divider Orientation="ArcoDesign.Shared.Orientation.Left">Text</Divider>
<br />
<Divider Orientation="ArcoDesign.Shared.Orientation.Center">Text</Divider>
<br />
<Divider Orientation="ArcoDesign.Shared.Orientation.Right">Text</Divider>
