@page "/grid"

@*<div style="width:100%" class="grid-demo-background">

    <div style="width:100%;margin-bottom: 16px">
        <Row ClassName="grid-demo">
            <Col Span="24">
                <div>24 - 100%</div>
            </Col>
        </Row>
    </div>
    <div style="width:100%;margin-bottom: 16px">
        <Row ClassName="grid-demo">
            <Col Span="12">
                <div>12 - 50%</div>
            </Col>
            <Col Span="12">
                <div>12 - 50%</div>
            </Col>
        </Row>
    </div>
    <div style="width:100%;margin-bottom: 16px">
        <Row ClassName="grid-demo">
            <Col Span="8">
                <div>8 - 33.33%</div>
            </Col>
            <Col Span="8">
                <div>8 - 33.33%</div>
            </Col>
            <Col Span="8">
                <div>8 - 33.33%</div>
            </Col>
        </Row>
    </div>
    <div style="width:100%;margin-bottom: 16px">
        <Row ClassName="grid-demo">
            <Col Span="6">
                <div>6 - 25%</div>
            </Col>
            <Col Span="6">
                <div>6 - 25%</div>
            </Col>
            <Col Span="6">
                <div>6 - 25%</div>
            </Col>
            <Col Span="6">
                <div>6 - 25%</div>
            </Col>
        </Row>
    </div>
    <div style="width:100%;margin-bottom: 16px">
        <Row ClassName="grid-demo">
            <Col Span="4">
                <div>4 - 16.66%</div>
            </Col>
            <Col Span="4">
                <div>4 - 16.66%</div>
            </Col>
            <Col Span="4">
                <div>4 - 16.66%</div>
            </Col>
            <Col Span="4">
                <div>4 - 16.66%</div>
            </Col>
            <Col Span="4">
                <div>4 - 16.66%</div>
            </Col>
            <Col Span="4">
                <div>4 - 16.66%</div>
            </Col>
        </Row>
    </div>
</div>

<hr />
栅格偏移
<div style="width:100%">
    <div style="width:100%;margin-bottom:16px;background-color:#2c6cfe">
        <Row ClassName="grid-demo">
            <Col Span="8">Col-8</Col>
            <Col Offset="8" Span="8">Col-8 | offset - 8</Col>
        </Row>
    </div>
</div>

<hr />
栅格排序
<div style="width:100%">
    <div style="width:100%;margin-bottom:16px;background-color:#2c6cfe">
        <Row ClassName="grid-demo">
            <Col Span="8" Push="16">col - 8 | push - 16</Col>
            <Col Span="16" Pull="8">col - 16 | pull - 8</Col>
        </Row>
    </div>
</div>

<hr />*@
区块间隔
<div style="width:100%">
    <div style="width:100%;margin-bottom:16px;background-color:#2c6cfe">
        <Row ClassName="grid-demo" Gutter="24">
            <Col Span="12">col - 12</Col>
            <Col Span="12">col - 12</Col>
        </Row>
    </div>
</div>