@page "/space"
@using ArcoDesign.Core;

<h3>space component</h3>

<h3>默认</h3>
<Space>
    <SpaceItem>
        <Button Type="ButtonType.Primary">Item1</Button>
    </SpaceItem>
    <SpaceItem>
        <Button Type="ButtonType.Primary">Item2</Button>
    </SpaceItem>

</Space>
<hr />
<h3>垂直</h3>
<Space Direction="ArcoDesign.Shared.Direction.Vertical">
    <SpaceItem>
        <Button Type="ButtonType.Primary">Item1</Button>
    </SpaceItem>
    <SpaceItem>
        <Button Type="ButtonType.Primary">Item2</Button>
    </SpaceItem>
    <SpaceItem>
        <Button Type="ButtonType.Primary">Item3</Button>
    </SpaceItem>
</Space>

<hr />
<h3>间距</h3>

<div style="padding: 15px;">
    <Space Size="mini">
        <SpaceItem>
            <Button Type="ButtonType.Primary">Item1</Button>
        </SpaceItem>
        <SpaceItem>
            <Button Type="ButtonType.Primary">Item2</Button>
        </SpaceItem>
        <SpaceItem>
            <Button Type="ButtonType.Primary">Item3</Button>
        </SpaceItem>
    </Space>
</div>
<div style="padding: 15px;">
    <Space Size="small">
        <SpaceItem>
            <Button Type="ButtonType.Primary">Item1</Button>
        </SpaceItem>
        <SpaceItem>
            <Button Type="ButtonType.Primary">Item2</Button>
        </SpaceItem>
        <SpaceItem>
            <Button Type="ButtonType.Primary">Item3</Button>
        </SpaceItem>
    </Space>
</div>

<div style="padding: 15px;">
    <Space Size="medium">
        <SpaceItem>
            <Button Type="ButtonType.Primary">Item1</Button>
        </SpaceItem>
        <SpaceItem>
            <Button Type="ButtonType.Primary">Item2</Button>
        </SpaceItem>
        <SpaceItem>
            <Button Type="ButtonType.Primary">Item3</Button>
        </SpaceItem>
    </Space>
</div>

<div style="padding: 15px;">
    <Space Size="large">
        <SpaceItem>
            <Button Type="ButtonType.Primary">Item1</Button>
        </SpaceItem>
        <SpaceItem>
            <Button Type="ButtonType.Primary">Item2</Button>
        </SpaceItem>
        <SpaceItem>
            <Button Type="ButtonType.Primary">Item3</Button>
        </SpaceItem>
    </Space>
</div>



<br />
<hr />
<h3>环绕</h3>
<br />
<div style="width:700px;">
    <Space Wrap>
        <SpaceItem>
            <Button Type="ButtonType.Primary">Item1</Button>
        </SpaceItem>
        <SpaceItem>
            <Button Type="ButtonType.Primary">Item2</Button>
        </SpaceItem>
        <SpaceItem>
            <Button Type="ButtonType.Primary" Size="Size.Mini">Item3</Button>
        </SpaceItem>
        <SpaceItem>
            <Button Type="ButtonType.Primary">Item1</Button>
        </SpaceItem>
        <SpaceItem>
            <Button Type="ButtonType.Primary" Size="Size.Large">Item2</Button>
        </SpaceItem>
        <SpaceItem>
            <Button Type="ButtonType.Primary" Size="Size.Large">Item3</Button>
        </SpaceItem>
        <SpaceItem>
            <Button Type="ButtonType.Primary" Size="Size.Mini">Item1</Button>
        </SpaceItem>
        <SpaceItem>
            <Button Type="ButtonType.Primary" Size="Size.Large">Item2</Button>
        </SpaceItem>
        <SpaceItem>
            <Button Type="ButtonType.Primary">Item3</Button>
        </SpaceItem>
        <SpaceItem>
            <Button Type="ButtonType.Primary" Size="Size.Mini">Item1</Button>
        </SpaceItem>
        <SpaceItem>
            <Button Type="ButtonType.Primary">Item2</Button>
        </SpaceItem>
        <SpaceItem>
            <Button Type="ButtonType.Primary" Size="Size.Large">Item3</Button>
        </SpaceItem>
        <SpaceItem>
            <Button Type="ButtonType.Primary">Item1</Button>
        </SpaceItem>
        <SpaceItem>
            <Button Type="ButtonType.Primary" Size="Size.Large">Item2</Button>
        </SpaceItem>
        <SpaceItem>
            <Button Type="ButtonType.Primary">Item3</Button>
        </SpaceItem>
    </Space>
</div>

<hr />
<h3>分割线</h3>
<br />
<Space >
    <Split>
        <Divider Type="ArcoDesign.Shared.Direction.Vertical" />
    </Split>
    <ChildContent>

    <SpaceItem><Link>Link 1</Link></SpaceItem>

    <SpaceItem>
        <Link>Link 2</Link>
    </SpaceItem>
    <SpaceItem><Link>Link 3</Link></SpaceItem>
    </ChildContent>
    
</Space>