@page "/space"

<h3>space component</h3>


<Space>
    <SpaceItem>
        <Button Type="ButtonType.Primary">Primary 1</Button>
    </SpaceItem>
    <SpaceItem>
        <Button Type="ButtonType.Primary">Primary 2</Button>
    </SpaceItem>
</Space>

